<app-navbar>
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Articles list</h1>
    </div>
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <a routerLink="/register-article" class="btn btn-success" *ngIf="hideWhenNoArticle">
            Add Article
        </a>
    </div>
    <div class="pricing-header mx-auto">
        <div class="no-data text-center" *ngIf="preLoader">
            <img src="assets/loader.gif" class="preloader-icon" alt="No article" />
        </div>
        <div class="no-data text-center" *ngIf="noData">
            <img src="assets/Error.gif" class="nodata-msg" alt="No article" />
            <p class="nodata-msg">No article added yet!</p>
            <a routerLink="/register-article" class="btn btn-success"> Add Article </a>
        </div>
        <div class="table-responsive" *ngIf="hideWhenNoArticle">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col" (click)="sortBy('$key')" class="cursor-pointer">
                            Article Id
                            <fa-icon *ngIf="sortColumn === '$key' && sortDirection === 'asc'"
                                [icon]="faSortAsc"></fa-icon>
                            <fa-icon *ngIf="sortColumn === '$key' && sortDirection === 'desc'"
                                [icon]="faSortDesc"></fa-icon>
                        </th>
                        <th scope="col" (click)="sortBy('libelle')" class="cursor-pointer">
                            Article libelle
                            <fa-icon *ngIf="sortColumn === 'libelle' && sortDirection === 'asc'"
                                [icon]="faSortAsc"></fa-icon>
                            <fa-icon *ngIf="sortColumn === 'libelle' && sortDirection === 'desc'"
                                [icon]="faSortDesc"></fa-icon>
                        </th>
                        <th scope="col" (click)="sortBy('shortTag')" class="cursor-pointer">
                            Article short shortTag
                            <fa-icon *ngIf="sortColumn === 'shortTag' && sortDirection === 'asc'"
                                [icon]="faSortAsc"></fa-icon>
                            <fa-icon *ngIf="sortColumn === 'shortTag' && sortDirection === 'desc'"
                                [icon]="faSortDesc"></fa-icon>
                        </th>
                        <th scope="col" (click)="sortBy('quantity')" class="cursor-pointer">
                            Quantity
                            <fa-icon *ngIf="sortColumn === 'quantity' && sortDirection === 'asc'"
                                [icon]="faSortAsc"></fa-icon>
                            <fa-icon *ngIf="sortColumn === 'quantity' && sortDirection === 'desc'"
                                [icon]="faSortDesc"></fa-icon>
                        </th>
                        <th class="text-center" scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let article of Article | paginate: { itemsPerPage: itemsPerPage, currentPage: p };let i = index">
                        <th>{{ article.$key }}</th>
                        <td>{{ article.libelle }}</td>
                        <td>{{ article.shortTag }}</td>
                        <td>{{ article.quantity }}</td>
                        <td class="text-center">
                            <button class="btn btn-primary btn-sm me-2"
                                routerLink="/edit-article/{{ article.$key }}">Edit</button>
                            <button class="btn btn-danger btn-sm" (click)="deleteArticle(article)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="mb-3">
                <select class="form-select" id="itemsPerPageSelect" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange($event)">
                    <option *ngFor="let option of paginationOptions" [value]="option">{{option}}</option>
                </select>
                <label>items per page</label>
            </div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</app-navbar>